# Frontend gitignore
node_modules/
/build
/dist
/coverage
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.toyml
*.toml
__tests__/
tests/
*.test.js
*.spec.js
*.test.jsx
*.spec.jsx
.DS_Store
*.log
